body{
    font-family: "Poppins", sans-serif;
}

.divall{
    margin: 12px;
}

.stats{
    display: flex;
    gap: 12px;
}

.divmsj{
    width: 29vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mensajediv{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.mensajediv p{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.mensajediv p:nth-child(2) {
    padding-left: 18px;
}
    

.msjs{
    display: flex;
    gap: 8px;
    width: 70vw;
    position: relative;
}

.msjs h2{
    position: absolute;
    top: 0;
    margin-top: 0;
}

.msjs p , .msjs h4{
    background-color: rgb(234, 234, 234);
    padding: 8px;
    border-radius: 12px;
}

.mjspc{
    width: 48%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 48px;
}

.buttonsdiv{
    display: none;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.divcel{
    display: none;
}



@media (max-width: 800px) {
    
    .stats{
        flex-direction: column;

    }

    .divmsj{
        overflow-x: scroll;
        width: 100%;
    }

    .msjs{
        flex-direction: column;
        width: 100%;
    }

    .msjs h2{
        position: initial;
    }

    .mjspc{
        display: none;
    }

    .buttonsdiv{
        display: flex;
    }

    .divcel{
        display: block;
        width: 100%;
    }

}