.results {
  justify-content: flex-start;
  align-items: flex-start;
  height: 98vh;
}

.results-info {
  display: flex;
  flex: 1;
  min-height: 0;
  gap: 20px;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .results-info {
    flex-direction: column;
  }
}
